.app {
  text-align: center;
  height: 100vh;
  width: 99%;
  background-color: #efeff6;
}

input:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}

.nav-header {
  background: #848cb5;
  width: 100%;
  display: flex;
  color: black;
  font-weight: 600;
  font-size: 20px;
  border: solid 1px #dfe2e5;

  .nav-title {
    margin-left: 15px;
    .nav-title-content {
      font-size: 40px;
      background: linear-gradient(to left top, gray, black);
      color: transparent;
      background-clip: text;
    }
  }

  .nav-icon {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 30px;
    align-items: center;
  }

  .nav-icon-right {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 10px;
    align-items: center;
  }
}

.main-title {
  font-size: 40px;
  background: linear-gradient(to left top, gray, black);
  color: transparent;
  background-clip: text;
}

.main-component {
  float: left;
  margin-top: 8px;
  width: 73%;
  height: 85vh;
  border: 1px solid gray;
  text-align: center;
  .main-wrap {
    margin: 5px auto;
    background-color: rgb(243, 243, 236);
    width: 50%;
    border: 1px solid gray;
    border-radius: 15px;
    height: 50vh;
    .main-content {
      margin: 5px auto;
      display: table;
      table-layout: fixed;
      width: 100%;
      text-align: center;
    }
    .main-content-row {
      margin: 30px auto;
      width: 70%;

      + .main-content-row {
        margin-top: -25px;
      }

      .main-content-input {
        width: 100%;
        height: 4vh;
      }
    }
  }
  .main-button-wrap {
    margin: 250px auto;
    height: 10vh;
    .main-button {
      // background-color: blue;
      border: 1px solid gray;
      border-radius: 20%;
      margin: 10px 10px 10px 10px;
      width: 20%;
      height: 5vh;
    }
  }

  .hashtag-filter-header {
    margin: 0px auto;
    border-radius: 15px;
    width: 80%;
    height: 3vh;

    .hashtag-filter-header-combobox {
      float: left;
      background-color: ivory;
      border: 1px solid gray;
      border-radius: 10px;
      margin: 0px auto;
      width: 30%;
      height: 3vh;
      text-align: center;
    }
    .hashtag-filter-header-input {
      margin: auto;
      float: right;
      background-color: darkgray;
      width: 8%;
      height: 3vh;
      border: 1px solid gray;
      border-radius: 10px;
      font-weight: 550;
    }
  }

  .hashtag-wrap {
    margin: 5px auto;
    width: 90%;
    border: 1px solid gray;
    border-radius: 70px;
    min-height: 70vh;
    background-color: ivory;

    .hashtag-content {
      margin: 20px 10px 10px 10px;
      display: inline-block;
      border: 1px solid gray;
      border-radius: 20px;
      width: 20%;
      height: 6vh;

      .hashtag-content-title-wrap {
        margin: 1px 0px 0px 5px;
        width: 90%;

        .hashtag-content-title {
          display: inline-block;
          width: 40%;
          .hashtag-content-title-sport {
            border-radius: 30px;
            border: 1px solid gray;
            background-color: red;
          }
          .hashtag-content-title-economy {
            border-radius: 30px;
            border: 1px solid gray;
            background-color: yellow;
          }
          .hashtag-content-title-science {
            border-radius: 30px;
            border: 1px solid gray;
            background-color: blue;
          }
          .hashtag-content-title-entertainment {
            border-radius: 30px;
            border: 1px solid gray;
            background-color: green;
          }
        }
        .hashtag-content-count {
          display: inline-block;
          width: 40%;
        }
      }
      .hashtag-content-item {
        width: 80%;
        margin: 5px auto;
        text-align: center;
        font-size: 18px;
        font-weight: 550;
        border: 1px solid gray;
        border-radius: 20px;
        color: black;
      }
    }
  }
}

.signUp-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  border-radius: 13px;
  box-shadow: 10px 17.3px 50px 0 rgba(17, 18, 18, 0.2);

  .popup-header {
    display: flex;
    height: 60px;
    margin-bottom: 0;
    padding: 20px 20px 0 20px;
    background-color: ivory;
    border-radius: 13px 13px 0 0;
    .popup-title {
      color: black;
      font-size: 18px;
      font-weight: 500;
    }
  }

  .popup-body {
    display: flex;
    height: 350px;
    border: solid 1px #dfe2e5;
    border-bottom: 0px;
    background-color: #fff;

    .popup-content-list {
      width: 100%;
      text-align: center;

      .popup-content-item {
        position: relative;
        color: #1a1a1a;
        border-bottom: solid 1px #dfe2e5;

        .popup-content-item-title {
          font-size: 20px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 500;
          line-height: 1.7;
          letter-spacing: -2px;
        }
        .popup-content-item-input {
          width: 200px;
          height: 3vh;
          font-size: 15px;
          margin-bottom: 10px;
        }
      }
    }
  }

  .popup-footer {
    position: relative;
    height: 70px;
    border: solid 1px #dfe2e5;
    border-top: 0px;
    background-color: #fff;
    text-align: center;
    border-radius: 0 0 13px 13px;

    .popup-button {
      border: 1px solid gray;
      border-radius: 20%;
      margin: 10px 10px 10px 10px;
      width: 20%;
      height: 5vh;
    }
  }
}

.side-view-component {
  float: right;
  margin-top: 8px;
  width: 25%;
  height: 85vh;
  border: solid 1px gray;

  .side-view-chatting-list {
    margin: 10px auto;
    width: 90%;
    height: 75vh;
    border: solid 1px gray;

    .side-view-chatting-item {
      margin: 10px auto;
      width: 85%;
      .side-view-chatting-item-header {
        width: 100%;
        text-align: left;
        font-size: 13px;
        font-family: 400;
        margin-bottom: 5px;
      }
      .side-view-chatting-item-content {
        width: 100%;
        text-align: left;
        font-size: 15px;
        font-weight: 600;
      }
    }
  }

  .side-view-chatting-wrap {
    margin: auto;
    width: 95%;
    height: 5vh;

    .side-view-chatting-input {
      display: inline-block;
      margin: auto;
      width: 70%;
      height: 3vh;
    }
    .side-view-chatting-button {
      display: inline-block;
      margin: 0 5px auto;
      width: 20%;
      height: 3vh;
    }
  }
}
