.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: #efeff6;
}

.navHeader {
  background: #848cb5;
  width: 100%;
  display: flex;
  color: black;
  font-weight: 600;
  font-size: 20px;
  border: solid 1px #dfe2e5;
}

.list {
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background: gray;
}
/*
.navIcon {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 30px;
  align-items: center;
}

.navIconRight {
  display: flex;
  justify-content: center;
  margin-left: auto;
  align-items: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #940f25;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MainComponent {
  margin-top: 50px;
  width: 100%;
}

.MainContent {
  margin-top: 5px;
}

.NavButton {
  margin: 10px;
  width: 65px;
  border-radius: 15%;
  background-color: lightgray;
  color: black;
}

.Button {
  margin: 10px;
  border-radius: 15%;
  background-color: #61dafb;
  color: black;
}

.PopupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #61dafb;
}

.PopupTitle {
  color: #3a3a3a;
  font-size: 18px;
  font-weight: 700;
}

.ButtonClose {
  position: relative;
  right: 0px;
  overflow: hidden;
  width: 50px;
  height: 30px;
  color: gray;
  font-size: 4;
}

.PopupComponent {
  width: auto;
  height: auto;
}

.PopupBody {
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  background-color: greenyellow;
}

.PopupContent {
  color: #3a3a3a;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 40px;
}

.PopUpFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.PopupButton {
  position: relative;
  left: 35%;
  right: 45%;
  background-color: #61dafb;
  color: black;
}
